/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    color: #333;
}

/* En-tête */
header {
    text-align: center;
    background-color: #9B1B30;
    color: white;
    padding: 10px 0;
}

/* Section principale */
section {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

#tout {
    display: flex;
    width: 100%;
}

/* Titres de section */
h2 {
    color: #9B1B30;
}

/* Conteneur pour les inputs et labels */
.input-container {
    display: flex; /* Utilisation de flexbox pour aligner les inputs et labels */
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne si l'espace est insuffisant */
    align-items: center; /* Aligne les éléments au centre verticalement */
}

/* Inputs */
.input-container div {
    margin-right: 10px; /* Espacement entre les champs */
    display: flex; /* Pour permettre l'alignement des labels avec les inputs */
    flex-direction: column; /* Aligne le label au-dessus de l'input */
    align-items: center; /* Centre le label et l'input horizontalement */
}

.diceNum {
    margin-top: 20px;
}

.inputCarac {
    width: 60px; /* Largeur fixe pour donner une forme carrée */
    height: 60px; /* Hauteur fixe pour donner une forme carrée */
    font-size: 15px; /* Taille de police de 15 pixels */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center; /* Centrer le texte à l'intérieur */
}

/* Labels */
label {
    margin-bottom: 5px; /* Espacement entre le label et l'input */
}

/* Conteneur pour les boutons */
.button-container {
    display: flex; /* Utilisation de flexbox pour aligner les boutons sur une ligne */
    margin-top: 20px; /* Espacement supérieur pour séparer des champs d'entrée */
}

/* Boutons */
button {
    background-color: #9B1B30;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 20px; /* Espacement entre les boutons */
    margin-top: 50px;
}

button:hover {
    background-color: #7A141D; /* Couleur au survol */
}

h3 {
    color: #666666;
    text-decoration: underline;
    font-size: 20px;
}

/* Affichage des PV */
.categorie div {
    margin-top: 10px;
    font-weight: bold;
    background-color: #e7f3fe; /* Couleur d'arrière-plan pour les résultats */
    padding: 10px;
    border-radius: 4px;
    text-align: right;
}

#derivCar {
    display: flex;
    flex-wrap: wrap;
}

.categorie {
    border: 2px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    margin-right: 20px;
    margin-top: 50px;
    text-align: center;
    height: fit-content;
    width: fit-content;
}

/* Style global pour le conteneur */
#list {
    margin: 20px;
    font-family: 'Arial', sans-serif;
}

/* Style pour le label */
#list label {
    font-size: 1.2em;
    color: #333;
    margin-right: 10px;
}

/* Style général pour la liste déroulante */
#race {
    padding: 10px;
    font-size: 1em;
    color: #333;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Effet lors du survol (hover) */
#race:hover {
    background-color: #e0e0e0;
    border-color: #999;
}

/* Style lorsque l'option est sélectionnée */
#race:focus {
    outline: none;
    border-color: #666;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Style pour le groupe d'options (optgroup) */
#race optgroup {
    font-weight: bold;
    color: #444;
    background-color: #f7f7f7;
    margin-top: 5px;
    padding: 5px;
}

/* Style pour les options */
#race option {
    padding: 5px;
    font-size: 1em;
    color: #333;
    background-color: #fff;
    transition: all 0.3s ease;
}

/* Effet lors du survol des options */
#race option:hover {
    background-color: #ddd;
}

/* Désactiver les options non sélectionnables */
#race option[disabled] {
    color: #999;
}

/* Style pour l'option sélectionnée par défaut */
#race option[selected] {
    color: #555;
    background-color: #f0f0f0;
}

#tableLoca {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}

.colonLoca {
    text-align: center;
}

.titreLoca {
    background-color: #056334;
    color: #ddd;
    font-weight: bold;
}

#mvt {
    display: none;
}

.titreLoca, .celLoca, .celLocaPlus, .celLocaPlusArm {
    border: 1px solid #0a0000;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrage horizontal */
    align-items: center;     /* Centrage vertical */
}

#loca {
    width: 120px;
}

#dVingt {
    width: 60px;
}

#arm {
    width: 70px;
}

#pvLoca {
    width: 50px;
}

#armBon {
    width: 100px;
}

#degats {
    width: 100px;
}

#condition {
    width: 100px;
}

.celLocaPlus input {
    width: 50px;    /* Ajuster la largeur */
    height: 25px;   /* Ajuster la hauteur */
    font-size: 12px; /* Ajuster la taille de la police */
    padding: 2px;   /* Ajuster l'espace intérieur si nécessaire */
}

.celLocaPlusArm input {
    width: 50px;    /* Ajuster la largeur */
    height: 25px;   /* Ajuster la hauteur */
    font-size: 12px; /* Ajuster la taille de la police */
    padding: 2px;   /* Ajuster l'espace intérieur si nécessaire */}

/* Style pour le texte qui a un tooltip */
.tooltip {
    position: relative;
    cursor: pointer;
    color: rgba(114, 3, 3, 0.75);
}

/* Style de base du tooltip */
.tooltip::before {
    content: attr(data-tooltip); /* Récupère le texte du tooltip */
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none; /* Le tooltip ne gênera pas le survol */
    top: 50%; /* Position au-dessus de l'élément */
    left: 50%;
    transform: translateX(-50%, -50%);
    z-index: 10;
    font-size: 0.9em;
}

/* Afficher le tooltip lors du survol */
.tooltip:hover::before {
    opacity: 1;
}

#atk {
    margin: 20px 10px;
}

/* Classe pour l'effet de flash rouge */
.flash-red {
    background-color: rgba(255, 0, 0, 0.5); /* Couleur rouge avec transparence */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999; /* S'assurer que le flash recouvre tout */
    pointer-events: none; /* Désactiver les interactions avec le flash */
}

.flashGreen {
    background-color: rgba(79, 255, 88, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999; /* S'assurer que le flash recouvre tout */
    pointer-events: none; /* Désactiver les interactions avec le flash */
}

/* Transition douce pour le flash */
.fade-out {
    animation: fadeout 0.3s forwards;
}

@keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0; }
}

.boutonSoin, .boutonStop {
    margin-left: 20px;
}

.boutonStop {
    color: #7272726b;
}

.inputSoin {
    width: 30px;
}

.soinDivSoin {
    margin-left: 20px;
}

/* Style du modal (initialement caché) */
.modal {
    display: none; /* Cacher le modal par défaut */
    position: fixed; /* Positionnement fixe */
    z-index: 1; /* Pour rester au-dessus des autres éléments */
    left: 0;
    top: 0;
    width: 100%; /* Largeur de la page entière */
    height: 100%; /* Hauteur de la page entière */
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
}

/* Contenu du modal */
.modal-content {
    background-color: white;
    margin: 15% auto; /* Centrer verticalement et horizontalement */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Largeur de la fenêtre */
    text-align: center;
}

/* Bouton de fermeture */
.close {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: darkred;
    text-decoration: none;
    cursor: pointer;
}

.ligneModal {
    margin: 30px;
    display: flex;
}

.modalInput {
    width: 35px;    /* Ajuster la largeur */
    height: 35px;   /* Ajuster la hauteur */
    font-size: 12px; /* Ajuster la taille de la police */
    position: absolute;
    left: 50%;
}

input[type="radio"] {
    accent-color: #4CAF50; /* Change la couleur de l'accent */
    margin-left: 30px;
  }

#formRadio {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}